.rings1 {
    width: 25px;
    margin-right: 10px;
}
.cardgroup {
    margin: 5% 3%;
}
.cards-row {
    display: flex;
    justify-content: center;
}
.card1 {
    margin: 0% 2%;
}
.card2 {
    margin: 0% 2%;
}
.card3 {
    margin: 0% 2%;
}
.footer-container {
    background:black;
    width: auto;
    height: auto;
}
.footer-text {
    color: rgb(134, 134, 134);
}
.logo {
    margin: 50px 25px 0px 30px;
    width: 50px;
}
.list1 {
    list-style: none;
    margin: 3%;
}
.list2 {
    list-style: none;
    margin: 3%;
}
@media only screen and (max-width: 768px) {
    .footer-container {
        max-height: 12em;
        }
}